
<h5>Book was successfully created.</h5><br>

<h4>Title
	<%= @book.title %>
</h4>
<h4>Body
	<%= @book.body %>
</h4><br>

<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "Back", books_path %>


